<app-painel titulo="Consultas Marcadas Últimos 30 dias" col="6">
    <h3 class="text-center">
        {{resumo.consultas.consultas_30dias_anteiores}}</h3>
</app-painel>

<app-painel titulo="Consultas Marcadas Próximos 30 dias" col="6">
    <h3 class="text-center">
        {{resumo.consultas.consultas_30dias_posteriores}}</h3>
</app-painel>

<app-painel col="6" titulo="Faturamento Anterior">
    <div class="box-faturamento">
        <div class="col-md-10">
            <h1 class="text-left">
                {{resumo.faturamento.anterior.valor}}</h1>
        </div>
        <div class="alert col-md-2 sm">
            <b>{{resumo.faturamento.anterior.comparativo}}%</b>
        </div>
    </div>
</app-painel>

<app-painel col="6" titulo="Faturamento Previsão">
    <div class="box-faturamento">
        <div class="col-md-10">
            <h1 class="text-left">
                {{resumo.faturamento.previsao.valor}}</h1>
        </div>
        <div class="alert col-md-2 sm">
            <b>{{resumo.faturamento.previsao.comparativo}}%</b>
        </div>
    </div>
</app-painel>